// This file must be imported before loading html5-boilerplate

$base-font-family: unquote('Anonymous Pro');  // default font-family

$base-font-size: 14px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #a7a7a7;

$link-color: #bed190;

$link-hover-color: #fff;

$link-active-color: #fff;

$link-visited-color: #c5d1a7;

$selected-font-color: #000;  // color for selected text

$selected-background-color: #fff;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

// Custom colors

$accent: #ffabab;