@import compass/css3
@import "icons/*.png"
@include all-icons-sprites

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea
  color: $font-color
  // Set your base font here, to apply evenly
  font-family: $base-font-family

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  // font-weight: bold;
  margin-bottom: 1em

a
  @include transition-duration(.15s)
  @include transition-timing-function(ease-out)
  text-decoration: none
  color: $link-color
  &:active, &:visited
    color: $link-color
  &:hover
    color: $link-hover-color

strong, th
  font-weight: bold
  color: white

small
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  +font-size(12px)
  // approx 85% when base-font-size eq 13px

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid

input:invalid, textarea:invalid
  +border-radius(1px)
  +box-shadow(red, 0, 0, 5px, 0)

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid
  background-color: #f0dddd

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body
  background: #000 url(../../images/bg.jpg) -500px -300px
  background-position: fixed
  #bg-mask
    +transition(background, 4s, ease-out)
    z-index: -1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 1)
    &.blank
      background: rgba(black, 0)

.name
  color: white
  font-weight: bold

#container
  width: 760px
  padding: 5em 1em
  margin: 0 auto

header
  +text-shadow(#000, 1px, 1px, 1px)
  h1, h2
    +transition(opacity, 1s, ease-out)
    .js &
      +opacity(0)
      margin-top: -10px
  h1
    font-size: 46px
  h2
    font-size: 22px
    +transition-delay(1s)
  &.revealed h1, &.revealed h2
    +opacity(1)
    margin-top: 0px  

#main
  h1
    margin-bottom: 0px
  h2
    font-weight: bold
  a
    background-color: rgba($link-color, .15)
    &:hover

footer
  clear: both
  font-size: 12px  
  color: #666

#skills, #contact
  +transition-property(background position opacity)
  +transition-timing-function(ease-out)
  .js &
    +opacity(0)
    top: -10px
  &.revealed
    +opacity(1)
    top: 0px

#skills
  +transition-duration(1s)
  +box-shadow(rgba(#eee,.2) 0px -1px 1px inset)
  +border-radius(0px 0px 8px 8px)
  background: rgba(black,.8)
  position: absolute
  top: 0
  margin-left: 440px
  min-width: 300px
  .inner
    padding: 20px
    margin-top: 80px
  h2
    color: #8599b7
    text-align: center
  dl
    text-align: center
    dt
      font-family: "Anonymous Pro", Consolas, "Lucida Terminal", Monaco, monospace
      font-size: 16px
      span
        font-weight: bold
    dd
      color: #555
      font-size: 12px
      margin-bottom: 12px
  &:hover 
    background: rgba(black,.7)
    +box-shadow(rgba(#eee,.4) 0px -1px 1px inset)
  .js &
    top: -30px
  &.revealed
    top: 0px

#contact
  +transition-duration(2s)
  padding-top: 8px
  a
    +box-shadow(#000, 1px, 1px, 2px)
    +border-radius(4px)
    position: relative
    display: inline-block
    width: 32px
    height: 32px
    overflow: hidden
    text-indent: -9999em
    &:hover
      top: -2px
      +box-shadow(#000, 1px, 3px, 4px)
    &:active
      top: -1px
      +box-shadow(#000, 1px, 2px, 4px)